.about {
    margin-top: 200px;
  }
  
  .about-header {
    margin-top: 50px;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .about-t {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .about-c {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .about-j {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .navbar {
    background-color: rgb(241, 60, 60) !important;
}

.navbar-brand {
  height: 80px;
}