@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}


.intro {
    text-align: center;
    display: block;
    width: auto;
    margin-right: auto;
 
}

.intro p {
    width: auto;
    text-align: center;
    margin: auto;

}

.links {
    float: right;
    text-align: center;
    height: 600px;
    width: 200px;
    margin: auto;
    background: #427e62;
}

.navbar {
    background-color: rgb(241, 60, 60) !important;
}

.navbar-brand {
    height: 80px;
}

.navbar-item img {
    max-height: 3.5rem;
    height: 120px;
    width: 60px;
}

.navbar-burger {
    height: 5rem !important;
}

.menu {
    height: 100%;
    width: 400px;
    float: right;
    display: block;
    border-left: solid;
    border-color: #427e62;
}

.menu-label {
    text-align: right;
    background: #427e62;
    color: white;
    font-size: 15px;
}

.menu-list {
    text-align: right;
}

.menu-list a.is-active {
    background-color: #427e62;
}