@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

.past-results h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
    padding-bottom: 20px;
}

#recipeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 243, 225);
    margin: 20px 0 0 0;
    width: 500px;
    border-radius: 10px;
    box-shadow: 3px 5px 15px rgb(165, 165, 164);
}  
.recipe-container:hover {
    background-color: rgb(226, 222, 204);
}

.card-header-title {
    display: flex;
    justify-content: center;
    text-align: center;
}

#title {
    font-size: 30px;
    color: bisque;
    background-color: rgb(66, 126, 98);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#picture {
    margin: 25px auto;
    height: 150px;
} 

.navbar {
    background-color: rgb(241, 60, 60) !important;
}

.navbar-brand {
    height: 80px;
}
  
.navbar-item img {
    max-height: 3.5rem;
    height: 120px;
    width: 60px;
}

.navbar-burger {
    height: 5rem !important;
}

@media screen and (max-width: 768px) {
    .recipe-container {
        width: 320px;
    }
}