.past-results h1 {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
}

#recipeContainer {
    text-align: center;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-container {
    background-color: rgb(247, 243, 225);
    margin: 25px 0;
    border: 3px solid rgb(18, 37, 25);
    border-radius: 10px;
}  

#title {
    font-size: 30px;
    color: bisque;
    background-color: rgb(66, 126, 98);
    border-radius: 10px;
}

#picture {
    margin: 25px auto;
    height: 150px;
} 

.navbar {
    background-color: rgb(241, 60, 60) !important;
}

.navbar-brand {
    height: 80px;
}
  
.navbar-item img {
    max-height: 3.5rem;
    height: 120px;
    width: 60px;
}

.navbar-burger {
    height: 5rem !important;
}