.past-results h1 {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
}

#recipeContainer {
    text-align: center;
}

.recipe-container {
    background-color: aqua;
  }
  

#title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: -15px;
}

#picture {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 150px;
} */

#link {
    font-size: 15px;
    padding-top: 10px;
}