@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

#random-recipe-btn {
    display: block;
    margin: 25px auto 20px;
}

.card {
    margin: 30px auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(247, 243, 225);
    border-radius: 10px;
    box-shadow: 3px 5px 15px rgb(165, 165, 164);
}


.card img {
    height: 250px;
    padding: 10px;
}

#title {
    padding: 25px;
    width: 100%;
    font-size: 30px;
    color: bisque;
    background-color: rgb(66, 126, 98);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#time {
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
}

#instructions {
    margin-bottom: 25px;
    font-display: flex;
}

#url {
    padding: 0 10px 15px 0;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.navbar {
    background-color: rgb(241, 60, 60) !important;
}

.navbar-brand {
    height: 80px;
}
  
.navbar-item img {
    max-height: 3.5rem;
    height: 120px;
    width: 60px;
}

.navbar-burger {
    height: 5rem !important;
}

@media screen and (max-width: 768px) {
    .card {
        width: 320px;
    }
}