@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

.mixing-pot {
  text-align: center;
  margin-top: 70px;
}

.mixing-pot h1 {
  margin-bottom: 25px;
}

form {
  background-color: grey;
  max-width: 550px;
  width: 90%;
  height: 44px;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7; 
}

.ingredients-display {
  height: auto;
  max-width: 450px;
  width: 80%;
  margin: auto;
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.ingredients-display div {
  background-color: rgb(241, 60, 60);
  color: white;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  margin: 10px 0 0 10px;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.results ul {
  background: gray;
  display: flex;
  height: auto;
  width: 515px;
}

.about {
  margin-top: 200px;
}

.past-results h1 {
text-align: center;
margin-top: 60px;
}

.past-results p {
  background: gray;
  margin: auto;
  height: 525px;
  width: 1100px;
  display: block;
  margin-top: 40px;
}

.about-header {
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;
}

.about-t {
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-c {
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-j {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar-brand {
  height: 80px;
}

.navbar-item img {
  max-height: 3.5rem;
  height: 120px;
  width: 60px;
}

#remove-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  padding-right: 10px;
  color: white;
}

.add-ingredient-btn {
  width: 200px;
  height: 44px;
  border-radius: 10px;
  font-weight: 500;
}

#recipe-search-btn {
  background-color: rgb(241, 60, 60);
  border-radius: 10px;
  padding: 5px 50px;
  color: white;
  border: 1px solid grey;
}