:root {
    --white: rgb(245, 245, 245);
}

body {
    background-color: rgb(240, 231, 218);
}

header {
    padding: 2px 0 5px 25px;
    display: flex;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

.three {
    color: var(--white);
}

.logo {
    padding-top: 5px;
    height: 35px;
}

.home {
    color: var(--white);
}

.home:hover,
.get:hover,
.try:hover,
.previous:hover,
.fundamentals:hover {
    color: rgb(230, 222, 198);
}

